@media (pointer: fine) {
.cursor{
    z-index:1001;
    pointer-events: none;
    position: absolute;
    padding-top: -2px;
    rotate: 20deg;
    height: 10px;
    width: 10px;
  }
  .cursor div{
    background-color:green;
    height:10px;
    width:10px;
  }
body:active{  
  .cursor:div{
  
    background-color: #1c69ed;
    
  }
}
}